@charset "UTF-8"; 
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;1,300&display=swap');

/*geral*/

:root{
    --corfundo-parte1: #BF5102;
    --corfundo-parte2: #92BF0B;
    --corfundo-parte3: #0AB1C1;
    --corfundo-parte4: #5E1A7D;

    --corfundo-botao: #14757D;

    --cor-padrao-botao: #20C980;
    --cor-hover-botao: #C93920;
    --cor-hover-botao-shadow: #a1301d;
    
}
* {
    margin: 0px;
    padding: 0px;
}
html, body, article {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
body{
    background-color: #1b1b1b;
}

/*pagina principal*/

main a {
    text-decoration: none;
    color: white;
    cursor: pointer;
    border-bottom: .05em solid black;
    transition: border-bottom .1s ease-in-out;
}
main a:hover {
    border-bottom: .2em solid black;
}

/*sessões*/

article{
    display: flex;
    width: 100vw;
    min-height: 100vh;
    height: min-content;
    padding-bottom: 5vmax;
}
#parte1 {
    background-color: var(--corfundo-parte1);
}
#parte1 div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10vmax;
    padding-top: 5vmax;
}
#parte1 div h1{
    font-family: poppins;
    font-size: 2.5em;
    color: white;
}
#parte1 div img{
    border-radius: 50%;
    width: 40vmin;
    margin-right: 5vmin;
}
#parte2{
    background-color: var(--corfundo-parte2);
}
#parte3{
    background-color: var(--corfundo-parte3);
}
#parte4{
    background-color: var(--corfundo-parte4);
    color: white;
    height: fit-content;
}
.historia {
    width: max-content;
    padding: 5vmin;
    font-family: poppins;
    font-weight: 300;
    font-size: 1.2em;
}
.media{
    width: 40vw;
}
.media img{
    width: 40vw;
    height: auto;
}

/*botão para voltar*/

#pagina_principal {
    margin-top: 10vh;
    background: var(--cor-padrao-botao);
    color: #1d1d1d;
    cursor: pointer;
    font-size: 1em;
    padding: 1.5rem;
    border: 0;
    transition: all 0.5s;
    border-radius: 10px;
    width: auto;
    position: relative;
    min-width: 250px;
}
#pagina_principal::after {
        content: " ⬅";
        font-family: "Font Awesome 5 Pro";
        font-weight: 400;
        position: absolute;
        left: 85%;
        top: 54%;
        right: 0;
        bottom: 0;
        opacity: 0;
        transform: translate(-50%, -50%);
    }

#pagina_principal:hover {
    background: var(--cor-hover-botao);
    transition: all 0.5s;
    border-radius: 10px;
    box-shadow: 0px 6px 15px var(--cor-hover-botao-shadow);
    padding: 1.5rem 3rem 1.5rem 1.5rem;
    color: #ffffff;
}
#pagina_principal:hover::after {
    opacity: 1;
    transition: all 0.5s;
    color: #ffffff;
}

/*botão de rolagem*/

#seta{
    position: fixed;
    bottom: 5vh;
    right: 45vw;
    width: 5vmax;
}
#seta path{
    animation: ease nuvem 2s infinite;
}

/*Responsividade*/

@media(max-width:750px){
    #parte1 div{
        flex-direction: column;
    }
    #parte1 div h1{
        font-size: 1px;
        margin-top: 2vmax;
    }
    #parte1 div img{
        width: 40vmin;
        margin-right: initial;
    }
    #parte1 div h1{
        font-size: 1.5em;
    }
    article:not(#parte1){
        display: flex;
        flex-direction: column;
    }
    .historia{
        width: 90vw;
    }
    .media{
        width: 100vw;
    }
    .media img{
        width: 100vw;
        height: auto;
    }
}

/*Animações*/

@keyframes nuvem {
    0.0%{
        opacity: .3;
    }
    100%{
        opacity: .3;
    }
    50%{
        opacity: 1;
    }
}
@keyframes girarCima {
    0.0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-180deg);
    }
}
@keyframes girarBaixo {
    0.0%{
        transform: rotate(-180deg);
    }
    100%{
        transform: rotate(0deg);
    }
}