@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;1,300&display=swap');

html, body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}
main {
    background-image: url(../img/home_bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    font-family: poppins;
    background-color: white;
}

a { text-decoration: none; }

#titulo {
    margin-left: 5vw;
    padding-inline-start: 2vw;
    padding-inline-end: 2vw;
    font-size: 1.8vw;
    width: fit-content;
    margin-top: 5vh;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    animation: apear 1s ease-out 0s normal none;
}
#texto_titulo{
    color: white;
    text-shadow: rgb(0, 0, 0) 4px 4px;
}
#menu {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    width: 50vw;
    height: 43vw;
    margin-left: 5vw;
    margin-top: 2vh;
    padding: 1vw;
    justify-content: center;
    align-items: center;
    user-select: none;
    animation: apear 1s ease-out 0s normal none;
}
nav {
    margin-inline-start: 1vw;
}
ul {
    margin: 0px;
    display: flex;
    flex-direction: column;
    list-style: none;
}
li{
    margin-block: 2vh;
}
button {
    outline: none;
    border: white solid 2px;
    background-color: transparent;
    width: 40vw;
    height: 4.37vw;
    border-radius: 5px;
    transition: ease-in-out .2s;
}
button:hover {
    background-color: white;
    cursor: pointer;
}
button h2{
    font-size: 1.2em;
    color: white;
    transition: ease-in-out .2s;
    text-shadow: rgb(0, 0, 0) 2px 2px;
}
button:hover h2{
    color: black;
    text-shadow: rgb(0, 0, 0) 0px 0px;
}
@media(max-width:750px){
    main{
        height: min-content;
    }
    #titulo {
        font-size: 1.8vw;
        margin-left: 5vw;
        margin-top: 5vh;
    }
    #opcoes {
        width: 100vw;
        position: unset;
    }
    ul {
        margin-top: 5vh;
        margin-bottom: 5vh;
        padding-right: 50px;
        flex-direction: column;
        grid-template-columns: repeat(1, auto);
        row-gap: 20vh;
        list-style: none;
    }
    .item {
        width: 70vw;
        padding: 5%;
        text-align: center;
        text-shadow: gray 2px 2px;
        font-size: .7em;
        animation: none;
    }
    .item:hover {
        background-color: rgba(0, 0, 0, 0.0);
        box-shadow: rgba(0, 0, 0, 0.0) 0px 0px;
    }
}
@media(max-width:500px){
    
}

@keyframes apear {
    0.0%{
        transform: translate(0px, 2vh);
        opacity: 0;
    }
    100%{
        transform-origin: -15%;
        opacity: 1;
        transform: translate(0px, 0vh);
    }
}
